header {
    background-image: url(picture/hero-section.webp);
    height: 840px;

    nav {
        div {
            padding: 10px;

            ul{
                
                li {
                width: 100%;
                margin: 0 10px; 
                .butten{
                    background-color: #1eb35b;
                    padding: 10px;
                    border-radius: 10px;
                    img{
                        width: 5%;
                    }
                }
                .empity{
                    width: 216px;
                }
                .icon{
                    width: 24px;
                    
                }
                .icon-svg{
                    width: 24px;
                }

                a {
                    text-decoration: none;
                    color: #fff
                }
            }
            }
        }

        ;
    }

    a {
        width: 5%;

        svg {

            width: 100%;
        }
    }
}