.backgrund {
    header {
        background-image: url('../picture/hero-section.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 840px;
    }

    .nav-link {
        color: #fff !important;}

        // استایل برای لیست آیکون‌ها
        ul.navbar-nav {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                a {
                    color: #fff;

                    &.moon img {
                        width: 24px;
                        height: auto;
                    }

                    &.shop img {
                        width: 24px;
                        height: auto;
                    }

                    &.dokme {
                        display: inline-flex;
                        align-items: center;
                        gap: 8px;
                        background-color: #1eb35b;
                        padding: 8px 16px;
                        border-radius: 10px;
                        color: #fff;
                        text-decoration: none;

                        img {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
        
    }